<div class="row justify-content-center mt-4">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title mb-3">Create an account</h5>
                <div class="row g-3">
                    <div class="col-12 col-md-6">
                        <label for="firstname" class="form-label">First name</label>
                        <input id="firstname" class="form-control" placeholder="John"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="lastname" class="form-label">Last name</label>
                        <input id="lastname" class="form-control" placeholder="Doe"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" type="email" class="form-control" placeholder="name@example.com"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="birthdate" class="form-label">Birthdate</label>
                        <input id="birthdate" type="date" class="form-control"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" type="password" class="form-control" placeholder=""/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="repassword" class="form-label">Re-enter password</label>
                        <input id="repassword" type="password" class="form-control" placeholder=""/>
                    </div>
                </div>
                <button id="SignupBtn" class="btn btn-success mt-3 w-100">Sign up</button>
            </div>
        </div>
    </div>
</div>

